* {
    padding:0px;
    margin:0px;
    box-sizing:border-box;
  }

 @import "variables";


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkslategrey;

    }



.logo{ 
    display: flex;
    justify-content: center;
    border: solid 110px rgb(31, 26, 27); 
}
ul{ list-style: none;
    li{ padding: 20px;
        a{ color: green;
            &:hover{ 
                color: yellow;
            }
        }
    }

}
section{
           background-color:slategrey;
            
           h1{ 
               text-align: center;
               size: 70px;
               color: rgb(26, 41, 41);
                                 }
            h2{
                text-align: center;
                size: 40px;
                color: black;

            }
       p{ color: rgb(31, 11, 15);
        font-size: large;}
 }

 footer{
    ul{ list-style: none;
        li{ padding: 20px;
            a{ color: rgb(3, 7, 3);
                &:hover{ 
                    color: yellow;
                }
            }
        }
    
    }
 }
 $estilos: (
  azul: #22272e,
  naranja: #e7a872
);

@mixin fondo($color){
  @if map-has-key($estilos, $color){
    background-color: map-get($estilos, $color);
  } 
}

.menu1{
  @include fondo(azul);
  
}
p{
  @include fondo(naranja);
  
}

div {
  text-align: center;
  padding: 2rem;
  margin: .5rem;
}


.boton {
    width: 95%;
    height: 50px;
    background-color: white;
    text-align: center;
    color: rgb(36, 34, 34);
    border-radius:20px;
    border: 1px solid black;
}
.boton--SI{
    @extend .boton;
    background-color: yellowgreen;
    color:yellow;
}

.boton--NO{
    @extend .boton;
    background-color: rgb(197, 48, 48);
    color: yellow;

}
  